<ng-include src="'templates/_common/header/header.html'"></ng-include>

	<div class="container">
		
		<div class="well some-home-specific-class text-center">
			
			<h1>Simple Login Page </h1>
			
		</div>
		
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<h2>Login</h2>
				<form class="form-horizontal"  role="form">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="email"  placeholder="Email" ng-model="data.username">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password" name="token" placeholder="Password" ng-model="data.password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" ng-click="login()" class="btn btn-success btn-lg btn-block">Login</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-6 col-md-6">
				<h2>Social Logins</h2>
				<button type="button" class="btn btn-facebook btn-lg btn-block ">Login with Facebook</button>
				<button type="button" class="btn btn-twitter btn-lg btn-block ">Login with Twitter</button>
				<button type="button" class="btn btn-google-plus btn-lg btn-block">Login with Google+</button>
			</div>
		</div>
		
	</div>

<ng-include src="'templates/_common/footer/footer.html'"></ng-include>