@import '../../bower_components/bootstrap/less/variables.less';
@import '../../bower_components/bootstrap/less/mixins/buttons.less';

@lg: ~"(min-width: @{screen-lg-min})";
@md: ~"(min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@sm: ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@xs: ~"(max-width: @{screen-xs-max})";

@color-primary: red;



@import '../home/home.less';
@import '../login/login.less';
@import '../products/products.less';
@import '../product_detail/product_detail.less';