<ng-include src="'templates/_common/header/header.html'"></ng-include>

	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active">Products</li>
		</ol>
		<div class="row">
			<div class="col-lg-2 col-md-2">
				<div class="form-group">
					<label for="exampleInputEmail1">Search</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Search" ng-model="search">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Sort by</label>
					<select class="form-control" ng-model="orderOpt">
						<option value="name">Alphabetical</option>
						<option value="age">Newest</option>
					</select>
				</div>
			</div>
			<div class="col-lg-10 col-md-10">
				<pagination total-items="totalItems" class="pull-right" ng-model="currentPage"></pagination>
				<div class="clearfix"></div>
				<ul>
					<li class="products" ng-repeat="product in products | filter:search | orderBy:orderOpt">
						<div class="thumbnail">
							<a ng-href="#products/{{product.id}}"><img ng-src="{{product.imageUrl}}" alt="{{product.name}}"></a>
							<div class="caption">
								<h3>{{product.name}}</h3>
								<p>{{product.snippet}}</p>
								<p><a ng-href="#products/{{product.id}}" class="btn btn-primary" role="button">View</a></p>							
							</div>
						</div>
					</li>
				</ul>
				<pagination total-items="totalItems" class="pull-right" ng-model="currentPage"></pagination>
				<div class="clearfix"></div>
			</div>
			
		</div>
	</div>

<ng-include src="'templates/_common/footer/footer.html'"></ng-include>